<!DOCTYPE html>
<html>
<head>
	<title>Customized ChatBot</title>
	<link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
	
	<h1 class="title">Welcome to CzyBot</h1>
	
	<div id="response" class="response">
		<p class="bubble_1">one mesagge not too long</p>
		<p class="bubble_2">one mesagge not too long</p>
	</div>
	<div class="message_cont">
		<form action="{{ url_for('send_mesagge') }}" method="GET">
			<input class="mess_inp" name="message" type="text">
			<button class="send noselect" type="submit">send</button>
		</form>
	</div>
	

</body>

</html>
